{% extends 'layouts.base' %}

{% block title %} - Home{% endblock %}

{% block heading %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <p>Welcome to the Inwizards - Events Management System</p>
        </div>
    </div>
{%  endblock %}