{% block content %}
    <p>Your template has been parsed successfully and is available for your review at the following url:</p>
    <p><a href="{{ url() }}/{{ template_alias }}">{{ url() }}/{{ template_alias }}</a></p>
{% endblock %}